# Molecule of 
 
       8 atoms
       7 bonds
      12 angles
       9 dihedrals
 
Charges
 
       1      -0.212000
       2       0.071000
       3       0.071000
       4       0.071000
       5      -0.212000
       6       0.071000
       7       0.071000
       8       0.071000
 
Coords
 
       1       3.540000       1.420000       0.000000
       2       3.159000       2.250000       0.599000
       3       3.159000       0.486000       0.420000
       4       3.159000       1.523000      -1.019000
       5       5.077000       1.420000       0.000000
       6       5.458000       2.434000       0.146000
       7       5.458000       1.039000      -0.950000
       8       5.458000       0.786000       0.805000
 
Types
 
       1       1
       2       2
       3       2
       4       2
       5       1
       6       2
       7       2
       8       2
 
Bonds
 
       1       1       5       6
       2       1       5       7
       3       1       5       8
       4       1       1       2
       5       1       1       3
       6       1       1       4
       7       2       1       5
 
Angles
 
       1       1       7       5       8
       2       1       6       5       7
       3       1       6       5       8
       4       2       4       1       5
       5       1       3       1       4
       6       2       3       1       5
       7       1       2       1       3
       8       1       2       1       4
       9       2       2       1       5
      10       2       1       5       6
      11       2       1       5       7
      12       2       1       5       8
 
Dihedrals
 
       1       1       4       1       5       6
       2       1       4       1       5       7
       3       1       4       1       5       8
       4       1       3       1       5       6
       5       1       3       1       5       7
       6       1       3       1       5       8
       7       1       2       1       5       6
       8       1       2       1       5       7
       9       1       2       1       5       8
 
